/*--------------------------------------------------------
Custom select styling for Options dialog
---------------------------------------------------------*/
	.custom-select {
		position: relative;
		width: 220px;
		max-width: 100%;
		font-size: 12px;
		color: #000;
		margin-bottom: 20px;
	}

	.select-button {
		width: 100%;
		font-size: 12px;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #caced1;
		border-radius: 0.25rem;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.custom-select ul {
		z-index: 200;
		margin: 0px;
		width:200px;
	}

	.selected-value {
		text-align: left;
	}

	.arrow {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 6px solid #000;
		transition: transform ease-in-out 0.3s;
	}

	.select-dropdown {
		position: absolute;
		list-style: none;
		width: 220px;
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
		background-color: #fff;
		border: 1px solid #caced1;
		border-radius: 4px;
		padding: 10px;
		margin-top: 10px;
		max-height: 200px;
		overflow-y: auto;
		transition: 0.5s ease;
		transform: scaleY(0);
		opacity: 0;
		visibility: hidden;
	}

	.select-dropdown:focus-within {
		box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
	}

	.select-dropdown li {
		position: relative;
		cursor: pointer;
		display: flex;
		gap: 1rem;
		align-items: center;
		padding: 0px;
	}

	.select-dropdown li label {
		width: 100%;
		padding: 8px 10px;
		cursor: pointer;
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	.select-dropdown::-webkit-scrollbar {
		width: 7px;
	}

	.select-dropdown::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 25px;
	}

	.select-dropdown::-webkit-scrollbar-thumb {
		background: #ccc;
		border-radius: 25px;
	}

	.select-dropdown li:hover,
			.select-dropdown input:checked ~ label {
		background-color: #f2f2f2;
	}

	.select-dropdown input:focus ~ label {
		background-color: #dfdfdf;
	}

	.select-dropdown input[type="radio"] {
		position: absolute;
		left: 0;
		opacity: 0;
	}

			/* interactivity */

	.custom-select.active .arrow {
		transform: rotate(180deg);
	}

	.custom-select.active .select-dropdown {
		opacity: 1;
		visibility: visible;
		transform: scaleY(1);
	}
	.e-dialog {
		box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
		border-radius: 8px;
		border: none;
		top: 0px;
		bottom: 0px;
		width: 80%;
		padding: 4px 0px;
	}

	.e-dialog header {
		padding: 0px 4px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid grey;
	}

	.e-dialog header h2 {
		margin-block: 0px;
	}

	.e-dialog main {
		padding: 4px 4px;
		padding-top: 10px;
	}

	.e-dialog footer {
		border-top: 2px solid grey;
		padding: 4px 10px;
		justify-content: space-between;
		gap: 0.5rem;
		margin: 0;
		height: 30px;
	}

	.e-dialog footer button {
		width: 66px;
	}
